<section class="site-intro">
  <div class="intro1">
    <span class="sentence1">On the web, there are no roads. </span><span class="sentence2">You can go anywhere.</span>
  </div>
  <div class="intro2"><span class="sentence3">But what if you need a guide?</span></div>
</section>