<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header {% if heroUrl %}style="background: url({{heroUrl}});"{% endif %}>
			<section class="site-title">
				<a href="{{ '/' | url }}">{{ metadata.title }}</a>
			</section>
			
			{% if section === "home" %}
			{% include "components/siteintro.njk" %}
			{% endif %}

			{% include "components/nav.njk" %}
		</header>

		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
