---
layout: layouts/base.njk
section: post
---

<article>
  {% if title %}<h1>{{ title }}</h1>{% endif %}
  <p>
    <small>
      <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time> by {% if guest %} {{ guest }} {% else %} {{ metadata.author.name }} {% endif %}
    </small>
  </p>

  {% if kitten.url%}
    <img src="{{kitten.url}}" alt="A random picture of a cat. You're welcome!" width="300" />
  {% endif %}

  {{ layoutContent | safe }}

  {% if tags %}
    <p>
    {% for tag in tags %}
      {%- if tag != "post" -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
    </p>
  {% endif %}

</article>

<nav>
  {% set previousPost = collections.post | getPreviousCollectionItem(page) %}
  {% if previousPost %}<a href="{{previousPost.url}}">Previous post: {{previousPost.data.title}}</a>{% endif %}
  <a href="{{ '/blog/' | url }}">Browse all {{collections.post.length}} blog posts</a>
  {% set nextPost = collections.post | getNextCollectionItem(page) %}
  {% if nextPost %}<a href="{{nextPost.url}}">Next post: {{nextPost.data.title}}</a>{% endif %}
</nav>
